/* GLOBAL */
body, html {
  height: 100%;
  margin: 0;
  overflow-x:hidden;
}

.englishBtn{
  display: none;
}

.spanishVersion{
  display: none;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  background-color: white;
  border-color: silver;
}

.navbar-nav ul li a{
  color: black;
}

.navbar-header{
  height: 95px;
}

#myNavbar{
  margin-top: 25px;
  margin-bottom: 0px;
}

.navbar-toggle{
  background-color: #333;
  margin-top: 30px;
  margin-right: 25px;
}

.hero-image {
  margin-top:10px;
  background-image: url("https://assets.vogue.com/photos/59de6bb2b471172bdfafc338/master/pass/03-j-balvin.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
  width: 130px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
  font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.spanishBtn, .englishBtn{
  margin-right:10px;
  margin-top:5px;
}



@media only screen and (max-width: 765px) {
  .spanishBtn, .englishBtn {
    display: block;
    width: 90px;
    margin: 15px auto;
  }

  .navbar-inverse .navbar-nav>li>a {
    font-size: 20px;
    text-align: center;
  }

  .hero-image {
    height: 75%;
  }

  .hero-text {
    top: 30%;
  }

}