/* GLOBAL */
body, html {
  height: 100%;
  margin: 0;
  overflow-x:hidden;
}

#siteLogo{
  border:1px solid white !important;
}
.nav>li {
  padding-left: 0px !important;
}

.veryBottom{
  width: 100%;
  height:80px;
  background-color: black;
  border:1px solid black;
}
.socialMedia{
  width:300px;
  border: 1px solid transparent;
  margin: 19px auto;
}
.socialMedia li {
  display: inline;
  margin-left:20px;
}
.socialMedia li a{
  color: #6d6e71;
}
.socialMedia li a:hover{
  color: #c8543b;
}
footer{
  padding: 100px 0px 150px 0px;
  margin-top: 0px;
  width: 100%;
  height:auto;
  background-color: black;
  border:1px solid black;
}

.prettyFont{
  /*font: normal normal normal 28px/1.4em proxima-n-w01-reg,sans-serif;*/
  line-height: normal;
  font-weight: 400;
}

.englishBtn{
  display: none;
}

.spanishVersion{
  display: none;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  background-color: rgba(0,0,0,.85);
  /*background-color: black;*/
}

.navbar-nav ul li a{
  color: black;
}

.navbar-header{
  height: 95px;
}

#myNavbar{
  margin-top: 25px;
  margin-bottom: 0px;
}

.navbar-toggle{
  background-color: black;
  margin-top: 20px;
  margin-right: 25px;
}

.nav>li {
  padding-left: 30px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  /*border-color: white;*/
}

.hero-image {
  overflow: hidden;
  background-color: black;
  /*background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background-image: url("https://assets.vogue.com/photos/59de6bb2b471172bdfafc338/master/pass/03-j-balvin.jpg");*/
  /*height: 100%;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.talentsHero {
  overflow: hidden;
  background-image: url("https://primarywave.com/wp-content/uploads/2016/06/PW_Homepage_V3_alt-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
  border-bottom: 1px solid black;
}

.newsHero {
  overflow: hidden;
  background-image: url("https://primarywave.com/wp-content/uploads/2016/06/PW_Homepage_V3_alt-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 450px;
  border-bottom: 1px solid black;
  color: white;
  text-align: center;
  padding:150px 30px 150px 30px;
}

.talentPageHero {
  background-color: black;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 70%;
  border-bottom: 1px solid transparent;
}

.hero-text {
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
  width: 130px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
  font-weight: bold;
  font-size:22px;
}

.navbar-inverse .navbar-nav>li>a:hover{
  /*color: black;*/
  /*font-weight: bold;*/
  /*border-bottom: 2px solid black;*/
}

.spanishBtn, .englishBtn{
  margin-right:30px;
  margin-top:5px;
}

.whoAreWe{
  color: white;
  padding: 200px 15px 200px 15px;
  margin-top: 0px;
  width: 100%;
  height:auto;
  border:1px solid transparent;
  background: #141E30;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to left, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.whatWeDo{
  padding: 200px 0px 200px 0px;
  margin-top: 0px;
  width: 100%;
  height:auto;
  background-color: #F5F5F5;
  border:1px solid transparent;
}

.news{
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  width: 100%;
  height:auto;
  background-color: white;
  border:1px solid ;
  overflow: hidden;
}

.talents{
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  width: 100%;
  height:auto;
  background-color: black;
  border:1px solid transparent;
  overflow: hidden;
}

.news h2{
  font-size: 16px;
  font-weight: 200;
}

.itemsDiv {
  overflow: hidden;
  font-weight: bold;
  /*padding:50px 20px 50px 20px;*/
  background-color: white;
  max-width: 250px;
  height: 400px;
  margin: 40px auto;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.itemsDivBody{
  background-color: #141E30;
  width: 100%;
  height: 250px;
  padding: 40px 20px 20px 20px;
  color: white;
  text-align: left;
}

.home-hero__video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.4);
}

.overlay_text_hero{
  background: rgba(0,0,0,0.5);
  height: 300px;
  position: absolute;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Work Sans",sans-serif;
  padding: 0px 20px 0px 20px;
}

.talentPageBanner{
  padding: 20px 20px 20px 20px;
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.column:hover {
border-radius: 3px;
transform: scale(1.02, 1.02);
}

/* Create four equal columns that floats next to each other */
.column {
cursor: pointer;
display: block;
height: 100%;
background-position: top;
background-repeat: no-repeat;
background-size: cover;
float: left;
width: 25%;
height: 400px; /* Should be removed. Only for demonstration */
padding: 20px 30px 20px 30px;
transform: scale(1, 1);
transition: transform 0.4s;
text-transform: uppercase;
}

.columnTalents {
  border: 0px solid transparent;
  cursor: pointer;
  display: block;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  width: 25%;
  height: 300px; /* Should be removed. Only for demonstration */
  transform: scale(1, 1);
  transition: transform 0.4s;
  padding: 20px 30px 20px 30px;
}

.columnTalents:hover {
border-radius: 3px;
transform: scale(1.03, 1.03);
}

.columnTalents:hover .talentInfo{
  font-weight: 400;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

#newsBtn{
  margin-top:50px;
  background-color: transparent;
  width: 130px;
  padding: 9px;
}

.talentInfo{
  background-color: rgba(0,0,0,0.3);
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 200px;
}


@media only screen and (max-width: 992px) {
  .column{
    width: 50%;
  }

  .columnTalents{
    width: 50%;
  }


}


@media only screen and (max-width: 765px) {
  #siteLogo{
    width:35px !important;
  }

  .column{
    width:100% !important;
  }

  .home-hero__video{
    /*width:unset !important;*/
    /*margin-left: -445px;*/
    margin-top:100px !important;
  }

  .navbar-header{
    height: 70px;
  }

  .liTranslateBtns{
    text-align: center;
  }

  .spanishBtn, .englishBtn {
    width: 90px;
    margin: 30px auto;
  }

  .navbar-inverse .navbar-nav>li>a {
    font-size: 20px;
    text-align: center;
  }

  .hero-image {
    height: 100%;
  }

  .columnTalents {
    width: 100%;
  }

  .hero-text {
    top: 30%;
  }

  .news_text{
    padding:0px 20px 0px 20px;
  }

  #navMenuCenter{
    width:unset !important;
  }

  #translateButtonDiv{
    margin-top:unset !important;
  }

  .overlay_text_hero{
    height: 700px;
    top: 380px;
  }

}


@media only screen and (min-width: 2000px) {
  .overlay_text_hero{
  top: 45%;
  }
}
